---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import LogoStrip from '../components/LogoStrip.astro';
import Features from '../components/Features.astro';
import Problems from '../components/Problems.astro';
import SmartAccess from '../components/SmartAccess.astro';
import MemberProfile from '../components/MemberProfile.astro';
import Integrations from '../components/Integrations.astro';
import Compare from '../components/Compare.astro';
import Pricing from '../components/Pricing.astro';
import CtaBand from '../components/CtaBand.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Nav />
	<main>
		<Hero />
		<LogoStrip />
		<Features />
		<Problems />
		<SmartAccess />
		<MemberProfile />
		<Integrations />
		<Compare />
		<Pricing />
		<CtaBand />
	</main>
	<Footer />
</Layout>
